<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My project</title>
    <link rel="stylesheet" href="./stlye.css" />
  </head>
  <body>
    <div class="not">
    <div class="Front">
      <h1>Frontend Practice</h1>
    </div>
    
    
    <div class="marks">
      <a href="https://www.frontendpractice.com/">Home</a>
      <a href="https://www.frontendpractice.com/projects/abstract">Projects</a>
      <a href="https://www.frontendpractice.com/blog">Blog</a>
      <a href="https://www.frontendpractice.com/faq">FAQ</a>
      <a href="https://www.frontendpractice.com/contact">Contact</a>
      <a href="https://frontendpractice.substack.com/">Newsletter</a>
    </div></div> <hr>
    
      <div class="edd">
        <h1>Abstract</h1>
    </div>
    <div class="rows">
      <h1>Help Page</h1>
    </div>
    <div class="next">
   
   
    <a target="blank" rel="noreferrer" href="https://help.abstract.com/hc/en-us">View Live 
    </a>
   
  
     <a  target="blank"  rel="noreferrer" href="https://www.pexels.com/">Free Photo Assets</a>
   
   
    <a target="blank"  rel="noreferrer" href="https://boxicons.com/">Open Source Icons</a>
   </div><hr>

<div class="container">
  <div class="grid1" >
    
      <h2>Recreate this to learn</h2>
      <li>Minimal layout</li>
      <li>Search inputs</li>
      <li>Buttons</li>
      <li>Multi-column footer</li>
      <li>and more!</li></div> 
    <div class=" grid2" >
       <h2>Color Palette</h2>
        <li>
        #4C5FD5</li>
        <li>
          #4C5FD5
        </li>
       <li>
        #4C5FD5</li>
       <li>
        #4C5FD5</li>
     </div>
     <div class="grid3">
      <h2>Recommended Course</h2>
        <p><li>Frontend Masters  offers a 100% <br>
          "Complete Intro to Web  <br> Development" course.</li></p>
          <button class="button">learn</button>
     </div>
    
     <div class="grid4">
        <h2>Resources</h2>
       <ul> <li> HTML search input <br>
A Complete Guide to Flexboxs <br>
Creating a button <br>
Multi-Level Sticky Footer</li></ul>


     </div>
  </div>    
  <div class="card">
    <div class="grid5">
      <h2>Up for a challenge?</h2>
      
      Make sure pressing "Enter"works with the search field.
    </div>
    <div class="grid6">
      <h2>Too easy?</h2>
      Is it responsive on mobile?Try adding the hamburger menu, also.
    </div>
    <div class="grid7">
      <h2>Too hard?</h2>
      <p>That's ok!
        View other projects</p>
    </div>
  </div> <hr>
  <div class="carry">
    <h2>Reference image</h2>
  </div>
  <div class="roto">
    <h4>Abstract / Help Center</h4>
  </div>
  <div class="toto">
  <button class="oop">Submit a request</button>
    <button class="oop1" >Sign in</button>
  </div>
  <div class="pine">
    <h1>How Can Help You ?</h1>
  </div> 
  <div class="chandru">
    <input type="search" 
    placeholder="search">
  </div><hr>
  <div class="love">
  <div class="pain">
    <h3>Branches</h3>
    <p>Abstract Branches lets you massage, <br>verionand doucment your desing in <br>one place </p>
  </div>
  <div class="pain1">
    <h3>Manage your account</h3>
    <p>Configure your account setting,such as <br>your email,profile details,and password</p>
  
</div>
  </div><hr>
<div class="asokan">
  <div class="son">
    <h3>Manage organizations, the <br> teams,and project</h3>
    <p>Use Abstract organizations, <br> teams,and project <br>to organize your people and your <br>work.. </p>
  </div>
  <div class="son1">
    <h3>Manage billing</h3>    
    <p>Change subscriptions and payments <br> details </p>
  </div>
</div><hr>
<div class="satheesh">
  <div class="bro">
  <h3>Authenticate to Abstract</h3>
  <p>Set up and Configure SSO, SSCIM,and <br>Just-in-time provisioning </p>
</div>
<div class="bro1">
  <h3>Abstract Support</h3>
  <p>Get in touch with a human</p>
</div>
</div><hr>
<div class="prabu">
 <div class="Es">
   <h3>Abstract</h3>
   <ul>
   Branches</ul>
 </div>
 <div class="Es1">
    <h3>Resources</h3>
    <ul>Blog</ul>
    <ul>Help Center</ul>
    <ul>Resources notes</ul>
    <ul>Status</ul>
 </div>
 <div class="Es2">
  <h3>Community</h3>
    <ul>twitter</ul>
    <ul>Linked</ul>
    <ul>Facebook</ul>
    <ul>dribble</ul>
    <ul>podacast</ul>

 </div>
 <div class="Es3">
  <h3>Company</h3>
  <ul>About us</ul>
  <ul>carres</ul>
  <ul>logo</ul>

 </div>
 

</div>
</div>
  </body>
</html>
