<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./DemoGitAdd.css">
</head>

<body>
  <header>
    <div class=" grid container">
      <div class="grid1">
        <img src="../Assets/A+ Studio.png" alt="">
      </div>
      <div class="grid2">
        <ul class="anchor">

          <li ><a href="#home">Home</a></li>
          <li ><a class="mar" href="#what">What We Do</a></li>
          <li ><a href="#service">Service</a></li>
          <li><a href="#pro">Project</a></li>
          <li> <a href="#blog">Blog</a></li>
          <li ><a href="#con">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class=" grids container">
    <div class="grid3">
      <h3 class="product">A Digital Product Agency </h3>
      <p class="para">leading digital agency with solid design and development expertise<br>
        we build readymade website,mobile applications <br>and elabrate online business services</p>
</p>
<button class="button">Contact Now</button>
    </div>
    <div class="grid4">
      <img class="ima" src="../Assets/image.png" alt="">
    </div>
  </div>
  <div class=" gridd container">
    <div class="grid5">
      <h3>Our Client</h3>
      <p>several selected clients,who already<br> believe in our service.</p>
    </div>
    <div class="grid6">
      <img src="../Assets/Vector (2).png" alt="">
      <img src="../Assets/Vector (3).png" alt="">
      <img src="../Assets/Vector (4).png" alt="">
      <img src="../Assets/Vector (5).png" alt="">
      <img src="../Assets/Vector (6).png" alt="">
      <img src="../Assets/Vector (7).png" alt="">
        </div>
        <div class="grid7">
          <img src="../Assets/Vector.png" alt="">
        </div>
        <div class="grid8">
          
          <img src="../Assets/Vectors.png" alt="">
          <img src="../Assets/Vector (1).png" alt="">
        </div>
        <div class="grid9">
          <img src="../Assets/path30.png" alt="">
          <img src="../Assets/path14.png" alt="">
          <img src="../Assets/path30.png" alt="">
          <img src="../Assets//path12.png" alt="">
          <img src="../Assets/path16.png" alt="">
          <img src="../Assets/path18.png" alt="">
        </div>
  </div>
</body>

</html>